@import url(../fonts/manrope/stylesheet.css);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #161616;
  background: #f5f5f5;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}

.content {
  border-radius: 20px;
  background-color: #fff;
  padding: 30px;
}

.title-h1 {
  font-size: 42px;
}

.title {
  font-size: 28px;
}

.title-two {
  font-size: 22px;
  margin-bottom: 10px;
}

.min-title {
  font-size: 16px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 14px;
  margin-bottom: 30px;
}

.info-span {
  font-size: 12px;
  color: #99a2ad;
}

.yellow-text {
  color: #ffdc00;
}

.icon {
  font-size: 44px;
  display: inline-block;
}
.icon:hover::before {
  color: #ffdc00;
}

.btn {
  background-color: #ffdc00;
  color: #161616;
  padding: 15px 15px;
  display: inline-block;
  width: 295px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 700;
  outline: none;
  border: none;
  -webkit-transition: 0.3;
  transition: 0.3;
  cursor: pointer;
}
.btn:hover {
  background-color: #dddcdc;
}

.text-content {
  margin-bottom: 30px;
  padding-bottom: 40px;
  border-bottom: 0.5px solid #dddcdc;
  text-align: left;
}

@media (max-width: 900px) {
  .title {
    font-size: 24px;
  }
  .title-two {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
@media (max-width: 790px) {
  body.lock {
    overflow: hidden;
  }
}
@media (max-width: 550px) {
  body {
    font-size: 12px;
  }
  .text-content {
    padding: 0 0 20px;
    margin-bottom: 20px;
  }
  .title {
    font-size: 18px;
    line-height: 24px;
  }
  .content {
    padding: 30px 20px;
  }
  .icon {
    font-size: 32px;
  }
}
@media (max-width: 394px) {
  .btn {
    width: 100%;
  }
}