.header {
  padding: 35px 0;
  .bg {
    display: none;
  }
  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__burger {
    display: none;
  }
  hr {
    display: none;
  }
  .nav {
    display: flex;
    align-items: center;
    &__item {
      margin-left: 30px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-left: 20px;
      }
    }
    &__link {
      color: $grey-color;
      font-weight: 500;
      transition: 0.3s;
      &:hover {
        color: $dark-color;
      }
    }
    &__link_active {
      position: relative;
      color: $dark-color;
      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 5px;
        background-color: $yellow-color;
        filter: blur(1px);
        left: 0;
        bottom: -10px;
        border-radius: 51px;
      }
    }
    .dropdown {
      display: flex;
      margin-left: 50px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__lang-btn {
        cursor: pointer;
        width: 77px;
        border: none;
        background: none;
        outline: none;
        text-transform: uppercase;
        font-size: 14px;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        img {
          margin-right: 7px;
        }
      }
      &__arrow {
        position: absolute;
        right: 0;
        background: url(../img/header/select-arrow.svg) no-repeat right center;
        width: 12px;
        height: 7px;
      }
      &__arrow_active {
        transform: rotate(180deg);
      }
      &__items {
        display: none;
        padding: 0;
        position: absolute;
        background: $lightGrey-color-two;
        top: 34px;
        border-radius: 6px;
        text-align: center;
        width: 145px;
        z-index: 1;
      }
      &__items_active {
        display: block;
      }
      &__item,
      .header__item-close {
        color: $dark-color;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        position: relative;

        cursor: pointer;
        img {
          margin-right: 7px;
        }
        &::after {
          position: absolute;
          bottom: 0;
          content: "";
          width: 105px;
          height: 1px;
          background-color: #d9d9d9;
        }
        &:last-child {
          &::after {
            display: none;
          }
        }
      }
      &__item {
        padding: 14px 20px;
      }
      &__item-close {
        display: none;
        padding: 0;
        &::after {
          display: none;
        }
      }
    }
    &__authorization {
      padding: 4px 12px;
      background-color: $yellow-color;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        margin-right: 5px;
      }
    }
    &__login,
    .nav__register {
      font-weight: 500;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        color: $grey-color;
      }
    }
  }
}

@media (max-width: 992px) {
  .header {
    .nav {
      &__item {
        margin-left: 10px;
        font-size: 13px;
      }
      .dropdown {
        margin-left: 20px;
        &__lang-btn {
          font-size: 13px;
          width: 70px;
        }
      }
    }
  }
}
@media (max-width: 816px) {
  .header {
    .nav {
      &__item {
        font-size: 12px;
      }
    }
  }
}
@media (max-width: 780px) {
  .header {
    padding: 50px 0 0;
    .container {
      padding: 0 20px;
      position: relative;
    }
    .bg {
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      position: fixed;
      background-color: $dark-color;
      opacity: 0.5;
      display: block;
      z-index: 1;
      display: none;
    }
    .bg__active {
      display: block;
    }
    &__burger {
      width: 20px;
      height: 2px;
      border-radius: 2px;
      background-color: $dark-color;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      cursor: pointer;
      &::after,
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $dark-color;
        left: 0;
        border-radius: 2px;
      }
      &::before {
        top: -5px;
      }
      &::after {
        top: 5px;
      }
    }
    &__burger_active {
      background-color: $yellow-color;
      transform: rotate(90deg);
      z-index: 10;
      margin-right: 36px;
      top: 40px;
      &::after,
      &::before {
        transition: 0.4s;
        top: 0;
        background-color: $yellow-color;
      }
      &::before {
        top: -6px;
      }
      &::after {
        top: -12px;
      }
    }
    .nav {
      display: none;
      top: 40px;
      padding: 60px 30px 30px;
      position: fixed;
      width: calc(100% - 40px);
      border-radius: 20px;
      background-color: $white-color;
      flex-direction: column;
      align-items: center;
      z-index: 5;
      &::after {
        position: absolute;
        content: "Меню";
        top: 30px;
        left: 20px;
        font-size: 22px;
        font-weight: 700;
      }
      hr {
        display: block;
        width: 100%;
        border-top: 1px solid $lightGrey-color-three;
        margin-bottom: 20px;
      }
      &__item {
        margin-left: 0;
        margin-bottom: 20px;
        font-size: 14px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .dropdown {
        margin-left: 0;
        width: calc(100% + 60px);
        &__items {
          border-radius: 20px;
          width: 100%;
          background-color: $lightGrey-color-three;
        }
      }
    }
    &__nav_active {
      display: flex !important;
    }
  }
}
