.footer {
  padding: 35px 0 20px;
  background-color: $dark-color;
  color: $white-color;
  ul {
    padding: 0;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 100px;
  }
  &__first-box {
    .footer__title {
      margin-bottom: 6px;
    }
  }
  .boxes {
    display: flex;
    justify-content: space-between;
    &__box {
      margin-left: 54px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  &__logo {
    margin-bottom: 26px;
  }
  &__title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  &__link {
    font-size: 14px;
    color: $white-color;
    &:hover {
      color: $grey-color;
    }
  }
  &__link-2 {
    margin-left: 10px;
    &:first-child {
      margin-left: 0;
    }
  }
  &__item {
    margin-bottom: 6px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__subtitle {
    max-width: 290px;
    font-size: 12px;
  }
  hr {
    border-top: 1px solid $lightGrey-color-three;
    opacity: 0.5;
  }
  &__last-text {
    margin: 20px 0 0;
    text-align: center;
  }
  &__icon {
    font-size: 24px;
    &:hover {
      &::before {
        color: $grey-color;
      }
    }
  }
}

@media (max-width: 1050px) {
  .footer {
    &__first-box{
      max-width: 185px;
    }
  }
}
@media (max-width: 930px) {
  .footer {
    &__icon {
      font-size: 20px;
    }
  }
}
@media (max-width: 905px) {
  .footer {
    .boxes {
      &__box {
        margin-left: 30px;
      }
    }
  }
}
@media (max-width: 830px) {
  .footer {
    &__content {
      flex-direction: column-reverse;
      align-items: center;
      margin-bottom: 0;
    }
    .boxes {
      width: 100%;
      margin-bottom: 35px;
    }
    &__logo{
      margin-bottom: 35px;
    }
    &__first-box{
      .footer__title, .footer__subtitle{
        display: none;
      }
    }
    &__second-content {
      display: none;
    }
  }
}
@media (max-width: 635px) {
  .footer {
    &__content{
      max-width: 370px;
      margin: 0 auto;
    }
    .boxes {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(2, 1fr);
      &__box {
        &:nth-child(odd) {
          margin-left: 0;
        }
        &:nth-child(-n + 2) {
          margin-bottom: 20px;
        }
        &:nth-child(even) {
          margin-left: auto;
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .footer {
    .boxes {
      margin-bottom: 30px;
    }
    &__link {
      font-size: 12px;
    }
  }
}
