.need {
  text-align: center;
  padding: 40px 0 80px;
}
.need .title {
  margin-bottom: 40px;
}
.need__devices {
  width: 743px;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.need__icon {
  margin-bottom: 10px;
}