.how {
  padding: 40px 0;
  .content {
    text-align: center;
  }
  &__subtitle {
    margin-bottom: 0;
  }

  &__boxes {
    display: flex;
    justify-content: space-between;
  }
  .box {
    text-align: left;
    max-width: 535px;
    padding-right: 20px;
    &__img-block {
      width: 100%;
      background-color: $lightGrey-color-two;
      display: flex;
      justify-content: center;
      border-radius: 20px;
      margin-bottom: 20px;
    }
    &__subtitle {
      width: 295px;
    }
    &__img {
      width: 80%;
    }
    &:last-child {
      padding-right: 0;
      padding-left: 20px;
    }
  }
}
@media (max-width: 748px) {
  .how {
    &__boxes {
      flex-direction: column;
      align-items: center;
    }
    .box {
      padding: 0;
      margin-bottom: 20px;
      &:last-child {
        padding: 0;
        margin-bottom: 0;
      }
    }
  }
}
@media (max-width: 748px) {
  .how {
    .box {
      margin-bottom: 15px;
      &__title {
        margin-bottom: 4px;
      }
      &__img-block {
        margin-bottom: 14px;
      }
      .subtitle {
        margin-bottom: 20px;
        width: 100%;
      }
    }
  }
}
@media (max-width: 748px) {
  .how {
    padding: 15px 0;
  }
}
