.map {
  padding: 40px 0;
  .container {
    display: flex;
    justify-content: space-between;
  }
  .content {
    max-width: 550px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:first-child {
      margin-left: 0;
    }
  }
  .box {
    &__img {
      width: 100%;
      border-radius: 20px;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .map {
    .container {
      flex-direction: column;
    }
    &__box{
      &:first-child{
        margin-bottom: 30px;
      }
    }
    .content {
      margin-left: 0;
      max-width: 100%;
    }
  }
}

@media (max-width: 550px) {
  .map {
    padding: 15px 0;
  }
}
