.planing {
  margin-bottom: 50px;
  &__title {
    margin: 0;
  }
  &__img {
    max-width: 570px;
    background-color: $lightGrey-color-two;
    border-radius: 20px;
    padding: 25px;
    text-align: center;
    img {
      max-width: 335px;
    }
  }
  &__box-content {
    max-width: 486px;
    margin-left: auto;
  }
}
